<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="url" method="post"> 
        <div>
       <label for="full name">
           Full name
       </label> 
       <input type="text" id="full name" name="full name" autocomplete="on" required> <br> 

    </div>

    <div>
    </label>
       <label for="email">email</label>
       <input type="email" id="email" name="email">
    </div>
    <br>
    <input type="submit">
<br>
    <label for=""> IsMale</label>
    <input type="checkbox">

</form>
    <nav>
    <ol>
      <a href="Index.html"> next page</a>
    ,
        <a href="https://www.google.co.il/?hl=iw">home page</a>,
        <a href="https://www.youtube.com/">Tzachi</a>
    </ol>
</nav>
</body>
</html>